html
 head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  title= "title"
 block content
  h1= "Create Your Own Bitcoin Wallet"
  a(href="/create") Create Wallet
  br
  a(href="/listWallet") Show all you Wallet address
